// Imports
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

// Variables
$palette: #ff3377;
$palette: #fe4a49;
$palette: #2ab7ca;
// $palette: #f6cd61;
// $palette: #58cebe;
/* $palette: #e0a899; */
$mobile: 480px;

$phoneWidth: 360px;
$phoneHeight: 667px;

* {
    box-sizing: border-box;
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
    -webkit-tap-highlight-color: transparent;

    &:focus,
    &:active {
        outline: none !important;
    }
}

input,
input:before,
input:after {
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

body {
    --palette: #{$palette};
    --paletteDark: #{darken($palette, 20%)};
    --paletteLight: #{lighten($palette, 15%)};
    --paletteLighter: #{lighten($palette, 32%)};
}

.phoneWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: var(--paletteLight);
    background: radial-gradient(var(--paletteLight), var(--paletteDark));

    .phone {
        width: $phoneWidth;
        height: $phoneHeight;
        position: relative;
        background-color: #f6f6f6;
        border-radius: 35px;
        border: 10px solid var(--paletteDark);
        overflow: hidden;
        font-family: "Open Sans", sans-serif;

        box-shadow: 0px 20px 35px -10px rgba(0, 0, 0, 0.3);

        display: flex;
        flex-direction: column;

        transition: height 0.3s ease-in-out, width 0.3s ease-in-out,
            border-radius 0.3s ease-in-out, border-width 0.3s ease-in-out;

        @media (max-width: $mobile), (max-height: ($phoneHeight + 50px)) {
            width: 100%;
            height: 100%;
            border-radius: 0;
            border-width: 0;
        }

        .loading {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 1);
            z-index: 20;

            &:before {
                content: "";
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border-style: solid;
                border-color: transparent;
                border-width: 5px;
                border-left: 5px solid var(--palette);
                animation: rotate 1s infinite linear;
                margin-right: 15px;

                @keyframes rotate {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}

@import "./apps/chatApp.scss";
